typing-extensions
numpy
scipy
langchain-openai
langchain-experimental
pandas
pytest
yfinance
praw
feedparser
stockstats
eodhd
langgraph
chromadb
setuptools
backtrader
akshare
tushare
finnhub-python
parsel
requests
pypdf
tqdm
pytz
redis
chainlit
rich
questionary
langchain_anthropic
langchain-google-genai
markdown
apscheduler>=3.10.0
